* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}

body {
	font-weight: 400;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	color: inherit;
	text-decoration: none;
}
p {
	margin: 0;
	padding: 0;
}
ul,
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

header,
section {
	display: flex;
	justify-content: center;
}

img {
	max-width: 100%;
	height: auto;
}
