
.imgs-container div {
  position: absolute;
  z-index: 1 !important;
}

.imgs-container div::after {
  content: 'grab me';
  opacity: 0;
  background-color: #ccc;
  padding: 2px 4px;
  border-radius: 30px;
  z-index: 2 !important;
  transition: all 300ms ease-in-out;
}

.imgs-container div:hover::after {
  opacity: 1;
}

.imgs-container div:nth-child(1) {
  top: 10px;
  left: 10px;
}

.imgs-container div:nth-child(2) {
  top: 96px;
  left: 184px;
}

.imgs-container div:nth-child(3) {
  top: 178px;
  left: -29px;
}

.imgs-container div:nth-child(4) {
  left: 0;
  top: 388px;
}

.imgs-container div:nth-child(5) {
  top: 254px;
  left: 124px;
  transform: rotateY(23deg);
}

.imgs-container div:nth-child(6) {
  top: 439px;
  left: 220px;
}

.imgs-container div:nth-child(7) {
  left: 378px;
  top: 163px;
}

.imgs-container div:nth-child(8) {
  left: 304px;
  top: 0;
}